@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


$fs-open:'Open Sans', sans-serif;
$fs-pop:'Poppins', sans-serif;
$pink-clr:hsl(322, 100%, 66%);
$lggt-pink-clr:hsl(321, 100%, 78%);
$lght-red-clr:hsl(0, 100%, 63%);
$dark-cyan-clr:hsl(192, 100%, 9%);
$pale-blue-clr:hsl(207, 100%, 98%);
$white-clr:#FFFFFF;
$btn-shadow:rgba(67, 61, 70, 0.2);
$get-btn-shadow-clr:hsla(321, 100%, 78%,0.6);
$section-bg-clr:#F6FBFF;
$footer-bg-clr:#00252E;


$fw-reg:400;
$fw-semi-bold:600;
$fw-bold:700;
